- var title = "Клубный дом «Крепостной 100»"
- var headerClass = "";
- var bodyClass = "";

block vars

doctype html
html.no-js
    head
        meta(charset="utf-8")
        title #{title}
        meta(name="description" content="Современный комфортабельный жилой дом в центре Ростова")
        meta(name="viewport" content="width=device-width")
        link(rel="shortcut icon" href="/favicon.ico")
        // build:css(.) styles/vendor.css
        // bower:css
        link(rel='stylesheet', href='bower_components/fotorama/fotorama.css')
        // endbower
        // endbuild
        // build:css(.tmp) styles/main.css
        link(rel="stylesheet" href="styles/main.css")
        // endbuild
        // build:js scripts/vendor/modernizr.js
        script(src="bower_components/modernizr/modernizr.js")
        // endbuild

    body(class="#{bodyClass}")
      header(class="header#{headerClass}")
        .wrapper  
          a(href="./").logo
          nav.main-nav
            ul.nav-ul
              li.nav-li
                a(href="about" class="#{bodyClass=='about' ? 'active' : ''}") О доме
              li.nav-li
                a(href="location" class="#{bodyClass=='location' ? 'active' : ''}") Расположение
              li.nav-li
                a(href="layouts" class="#{bodyClass=='layouts' ? 'active' : ''}") Планировки
              li.nav-li
                a(href="mortgage" class="#{bodyClass=='mortgage' ? 'active' : ''}") Ипотека
              li.nav-li
                a(href="company" class="#{bodyClass=='company' ? 'active' : ''}") Застройщик
              li.nav-li
                a(href="news" class="#{bodyClass=='news' ? 'active' : ''}") Новости
              li.nav-li
<<<<<<< HEAD
                a(href="contacts" class="#{bodyClass=='contacts' ? 'active' : ''}") Контакты
=======
                a(href="about.html#documents" class="#{bodyClass=='news' ? 'active' : ''}") Документы
              li.nav-li
                a(href="contacts.html" class="#{bodyClass=='contacts' ? 'active' : ''}") Контакты
>>>>>>> FETCH_HEAD

      block content

      footer.footer
        .wrapper
<<<<<<< HEAD
          span © Группа компаний «Стройковъ», 2014
          a(href="about#documents").brd-link Правовые документы
          span.fl-r Сделано в <a href="" target="_blank" class="brd-link">ГРАФЕМА</a>
=======
          span © ООО «Наш город», 2014
          a(href="about.html#documents").brd-link Документы
          span.fl-r Сделано в <a href="#" class="brd-link">ГРАФЕМА</a>
>>>>>>> FETCH_HEAD

      // build:js(.) scripts/vendor.js
      // bower:js
      script(src='bower_components/jquery/dist/jquery.js')
      script(src='bower_components/fotorama/fotorama.js')
      script(src='bower_components/jquery-ui/jquery-ui.js')
      // endbower
      // endbuild

      block scripts

      // build:js({app,.tmp}) scripts/main.js
      script(src="scripts/main.js")
      // endbuild

      